*.o
*.pyc
*.dll
*.exe
pd.*.z64
build
.flatpak-builder
extracted
src/assets/*/*.bin
src/assets/*/*.ctl
src/assets/*/*.tbl
src/assets/*/animations/*.bin
src/assets/*/files/audio/*.mp3
src/assets/*/files/bgdata/*.bin
src/assets/*/files/bgdata/*.seg
src/assets/*/files/chrs/*.bin
src/assets/*/files/guns/*.bin
src/assets/*/files/props/*.bin
src/assets/*/files/ob/ob_mid.seg
src/assets/*/fonts/*.bin
src/assets/*/sequences/*.seq
src/assets/*/textures/*.bin
src/generated
tools/mkrom/mkrom
/.vs
CppProperties.json
.idea
cmake-build-debug
vita_release

CMakeListsNew.txt
CMakeListsOld.txt
cmake/PostBuildChecks.cmake
cmake/VpkManifest.cmake
experiment/
livearea/TROPHY.TRP.GUIadjusted
livearea/TROPHY.TRP.bak.20251230T154530
livearea/TROPHY.TRP.bak.20251231T000401
livearea/TROPHY.TRP.bak2.20251231T000828
livearea/TROPHY.TRP.bak2.20251231T000836
livearea/TROPHY.TRP.corrupted.bak
pal.self
pd.armv7.vpk
pd.armv7/
port/vita/
tools/buildscripts/elf_flags_report.sh
*.log
dist/vita/
plugin/
sceCtrl\ routines.txt
endscreen.old.c
PC/*
how 3524ec73b --stat
.git.bak
ToDo.txt
perfect_dark-PSP/
src/game/propobj.c.save
src/game/propobj.c.save.1
src/game/propobj.diff
src/game/propobj_canonical.diff
src/game/propobjold.c
